@font-face {
    font-family: 'Philosopher';
    src: url('../fonts/Philosopher/Philosopher-Regular.eot');
    src: local('Philosopher Regular'), local('Philosopher-Regular'),
        url('../fonts/Philosopher/Philosopher-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Philosopher/Philosopher-Regular.woff2') format('woff2'),
        url('../fonts/Philosopher/Philosopher-Regular.woff') format('woff'),
        url('../fonts/Philosopher/Philosopher-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

