@font-face {
    font-family: 'Tenor Sans';
    src: url('../fonts/Tenor/TenorSans.eot');
    src: local('Tenor Sans'), local('TenorSans'),
        url('../fonts/Tenor/TenorSans.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Tenor/TenorSans.woff2') format('woff2'),
        url('../fonts/Tenor/TenorSans.woff') format('woff'),
        url('../fonts/Tenor/TenorSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

