.header{
    padding: 0 20px;
	@media (min-width: 767px){
		padding: 0 calc(1.5rem + ((1vw - 7.68px) * 6.25));
	}
	@media (min-width: 1023px){
		padding: 0 calc(2.5rem + ((1vw - 10.24px) * 2.2321));
	}

    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
}

.header__inner{
    padding: 20px 0;
    display: flex;
    gap: calc(0.125rem + ((1vw - 3.2px) * 0.8929));
    filter: drop-shadow(0 0 4px #24242433);
    @media (min-width: 767px){
        gap: 6px;
    }
    @media (min-width: 1023px){
        padding: 24px 0;
    }

    @media (min-width: 1600px){
        padding: 30px 0;
    }

    
}


.header__logo{
    display: flex;
    padding: 10px 16px;
    background: #FFFFFF;
    border-radius: 5px;
    flex-grow: 1;
    justify-content: space-between;
    gap: 20px;
    @media (min-width: 767px){
        padding: 11px 16px;

        border-radius: 10px;
    }
    @media (min-width: 1023px){
        padding: 11px 16px;
    }
    @media (min-width: 1600px){
        padding: 13px 25px 13px 20px;
    }
    img{
        width: 96px;

        @media (min-width: 767px){
            width: 142px;
        }
        @media (min-width: 1023px){
            width: 142px;
        }
        @media (min-width: 1600px){
            width: 173px;
        }
    }

    span{
        display: none;
        font-weight: 600;
        font-size: 10px;
        line-height: 14px;
        text-align: right;
        color: #000000;

        @media (min-width: 960px){
            display: initial;
        }

        @media (min-width: 1600px){
            font-size: 12px;
        }
    }
}



.h-menu-btn{
    padding: 0 10px;
    background: #22B6C7;
    border-radius: 5px;
    flex-grow: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    @media (min-width: 767px){
        flex-grow: 0;
        border-radius: 10px;
        padding: 0 26px;
    }
    transition: 300ms;
    &:hover{
        background-color: #363636;
        .h-menu-btn__text{
            color: #fff;
        }
    }
    @media (min-width: 1600px){
        width: 170px;
        padding: 0 22px;
        &:hover{
            .h-menu-btn__text{
                
                right: 22px;
                transform: translate(0%, -56%);
            }   

            .h-menu-btn__hamburger{
                opacity: 1;
                left: 22px;
                transform: translate(0%, -50%);
            }
        }
    }
    
}

.h-menu-btn__text, .h-menu-btn__close-text{
    font-weight: 600;
    font-size: 12px;
    line-height: 1;
    color: #FFFFFF;
    transition: 300ms;
    
    @media (min-width: 1023px){
        font-size: 14px;
    }
    @media (min-width: 1600px){
        font-size: 18px;
        position: absolute;
        right: 50%;
        top: 50%;
        transform: translate(50%, -56%);
    }
}

.h-menu-btn__close-text{
    display: none;
    @media (max-width: 1600px){
        display: none !important;
    }
}



.h-menu-btn__hamburger{
    
        display: block;
        position: absolute;
        height: 10px;
        width: 60px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: 300ms;
        div{
            width: 100%;
            height: 2px;
            background-color: #fff;
            transition: 300ms;
            position: absolute;

            &:first-of-type{
                top: 0;
                left: 50%;
                transform: translate(-50%, 0);
            }

            &:last-of-type{
                top: calc(100% - 2px);
                left: 50%;
                transform: translate(-50%, 0);
            }
        }
    
}


.h-menu-btn.active{
    background-color: #000000;
    .h-menu-btn__text{
        opacity: 0;
        @media (min-width: 1600px){
            display: none;
        }
    }
    .h-menu-btn__close-text{
        display: initial;

        right: 22px;
        transform: translate(0%, -56%);
    }
    .h-menu-btn__hamburger{
        
        opacity: 1;
        width: 28px;
        @media (min-width: 1024px){
            width: 32px;
        }
        
        div{
            &:first-of-type{
                top: 50%;
                transform: translate(-50%, -50%) rotate(-45deg);
            }
            &:last-of-type{
                top: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
            }
        }

        @media (min-width: 1600px){
            left: 22px;
            transform: translate(0%, -50%);    
        }
    }
}




.h-lang{
    width: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 12px 12px;
    transition: 300ms;
    cursor: pointer;
    position: relative;
    @media (min-width: 767px){
        width: 50px;
        border-radius: 10px;
    }
    @media (min-width: 1600px){
        width: 60px;
       
    }

    &:hover{
        
        background: #363636;

        .h-lang__current{
            color: #fff;
        }
    }
}
.h-lang__lang-list{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(0, calc(100% + 20px));
    border-radius: 5px;
    overflow: hidden;
    opacity: 0;
    display: none;

    @media(min-width: 768px){
        border-radius: 10px;
    }
}
.h-lang__lang-item{
    padding: 8px;
    background-color: #fff;
    transition: 300ms;

    &:hover{
        background-color: #363636;
        
        .h-lang__lang-link{
            color: #fff;
        }
    }

}
.h-lang__lang-item.current{
    background-color: #000000;
    color: #fff;
    .h-lang__lang-link{
        color: #fff;
    }
}
.h-lang__lang-link{
    display: block;
    text-align: center;
}

.h-lang.active{
    background-color: #000000;
    .h-lang__current{
        color: #fff;
    }
}
.h-lang.active{
    .h-lang__lang-list{
        display: block;
        animation: showLangMenu 300ms forwards;
    }
}

@keyframes showLangMenu {
    to{
        transform: translate(0, calc(100% + 8px));
        opacity: 1;
    }
}


.h-lang__current, .h-lang__lang-link{
    font-weight: 600;
    font-size: 12px;
    color: #000000;
    transition: 300ms;
    @media (min-width: 1023px){
        font-size: 14px;
    }

    @media (min-width: 1600px){
        font-size: 18px;
    }
}

.h-search{
    padding: 0px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 5px;
    width: 39px;
    @media (min-width: 767px){
        width: 50px;
        border-radius: 10px;
    }
    @media (min-width: 1600px){
        width: 60px;
    }
    img{
        width: 14px;

        @media (min-width: 767px){
            width: 16px;
        }
        @media (min-width: 1023px){
            width: 17px;
        }

        @media (min-width: 1600px){
            width: 22px;
        }
    }
}

.h-contacts-us{
    display: none;
    padding: 14px;
    font-weight: 600;
    font-size: 12px;
    color: #000000;

    background: #FFFFFF;
    border-radius: 10px;

    @media (min-width: 767px){
        display: inline-flex;
        align-items: center;
    }

    @media (min-width: 1023px){
        font-size: 14px;
    }

    @media (min-width: 1600px){
        font-size: 18px;
        padding: 14px 43px;
    }

    &:hover{
        background-color: #363636;
        color: #fff;
    }
}

.h-contacts{
    display: none;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 8px 13px;
    @media (min-width: 767px){
        display: flex;
        align-items: center;
    }
    @media (min-width: 1600px){
        padding: 0px 20px 0 0;
    }

}


.h-contacts__phone{    
    font-weight: 600;
    font-size: 12px;
    color: #000000;
    margin-right: 4px;
    @media (min-width: 1023px){
        font-size: 14px;
        margin-right: 10px;
    }

    @media (min-width: 1600px){
        font-size: 18px;
        margin-right: 22px;
    }
    &:hover{
        color: #22B6C7;
    }
}


.h-contacts__messangers{
    display: flex;
    align-items: center;
    a{
        flex-shrink: 0;
        width: 31px;
        height: 31px;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        @media (min-width: 1023px){
            width: 28px;
            height: 31px;
        }

        @media (min-width: 1600px){
            width: 40px;
            height: 40px;
        }
    }
}



.h-contacts__on-page-link{
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    display: none;
    padding: 0 60px;
    color: #000000;
    height: 100%;
    @media (min-width: 1600px){
        display: inline-flex;
        align-items: center;
        margin-right: 38px;
        border-radius: 10px;
        &:hover{
            background-color: #363636;
            color: #fff;
        }
    }
}